# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-wheel-metadata/
.idea/

# Django
*.log
db.sqlite3

# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# OS-specific
.DS_Store
Thumbs.db
backend/idea_bank/.env

# VS Code
.vscode/
.history/
*.code-workspace
*.suo
*.ntvs*

# any other files or directories you want to ignore
*.env
*.local
plataforma_inovacao.md
