fastapi
uvicorn[standard]
sqlalchemy
asyncpg
alembic
pydantic-settings
python-jose[cryptography]
passlib==1.7.4
bcrypt==4.0.1
python-multipart
pytest
httpx
email-validator
pytest-asyncio
pytest-cov
ruff
