/* Modal Transitions */
.modal-transition-enter .modal-overlay {
  opacity: 0;
}
.modal-transition-enter-active .modal-overlay {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}
.modal-transition-exit .modal-overlay {
  opacity: 1;
}
.modal-transition-exit-active .modal-overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.modal-transition-enter .modal-content {
  opacity: 0;
  transform: scale(0.95);
}
.modal-transition-enter-active .modal-content {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}
.modal-transition-exit .modal-content {
  opacity: 1;
  transform: scale(1);
}
.modal-transition-exit-active .modal-content {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 300ms, transform 300ms;
}
